In [11]:
MyFirstList = [3, 45, 56, 732]

In [12]:
MyFirstList

[3, 45, 56, 732]

In [13]:
type(MyFirstList)

list

In [14]:
L2 = ["Hello", 24, True, 55.3]

In [15]:
L2

['Hello', 24, True, 55.3]

In [16]:
L3 = ["How are you", 55, MyFirstList]

In [17]:
L3

['How are you', 55, [3, 45, 56, 732]]

---

In [18]:
range(15)

range(0, 15)

In [19]:
list(range(15))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [20]:
x = list(range(1,12))

In [21]:
print (x)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [22]:
z = list(range(11,16,2))

In [23]:
z

[11, 13, 15]

In [24]:
w = ['a', 'b', 'c', 'd', 'e']

In [25]:
print(w[0], w[1])

a b

In [26]:
len(w)

5

In [27]:
w

['a', 'b', 'c', 'd', 'e']

In [28]:
# 0  1  2  3  4 
#-5 -4 -3 -2 -1
w[-5]

'a'

In [29]:
w

['a', 'b', 'c', 'd', 'e']

In [30]:
# overwrite values
w[2] = 63
w

['a', 'b', 63, 'd', 'e']

In [31]:
 w[4]

'e'

In [3]:
#format generating numbers starting 100to 120, 2 steps to the next number
import numpy as np
b = list(range(100,121,2))
b_mean = np.mean(b)
b_mean

110.0

In [6]:
t = np.array(b)
t

array([100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120])

In [7]:
t.mean()

110.0